html, body{
   height: 100%;

}
.container{
  min-width: 100%;
  min-height:90%;
}

#a2{
  background-color: green;
  min-height: 400px;
}
#Inicio{
  background: url("Imagens/bkg.png");
  background-repeat: no-repeat;
  background-size: 100%;


}
#titulo{
  color: blue;
  min-size:100px;
}
